.App {
  text-align: center;
}

.App-header {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  margin: 0;
}

.App-link {
  color: #3083CD;
}

/* NotFound.tsx */
.Not-found {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(16px + 2vmin);
  color: black;
  margin: 0;
  text-align: center;
}

/* Contacts.tsx */

.Contacts {
  margin-top: 50px;
}

.Contacts-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: black;
}

.Contacts-contact {
  margin-left: 15px;
  margin-right: 15px;
}

.Contacts-hr {
  margin-top: 40px;
  width: 60vw;
  border: 1px solid black;
}

/* Home.tsx */

.Home-header {
  min-height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  margin: 0;
}

.Home-header-content {
  min-height: 30vh;
  display: flex;
  align-items: center;
}

.Home-logo {
  height: 20vmin;
  pointer-events: none;
  margin-left: 40px;
}

@media (prefers-reduced-motion: no-preference) {
  .Home-logo {
    animation: Home-logo-spin infinite 20s linear;
  }
}

@keyframes Home-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Home-paragraph {
  text-align: left;
  width: 80vw;
}

/* MenuBar.tsx */
.menu-bar {
  background-color: #A08754;
  padding: 15px;
  font-size: calc(10px + 2vmin);
}

.menu-bar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.menu-bar li {
  margin: 0;
  padding: 0;
}

.menu-bar a {
  text-decoration: none;
  font-weight: bold;
}

.menu-bar a:not(.active) {
  color: black;
}

.menu-bar a:hover {
  color: #EAE4D7;
}

.menu-bar ul li .active {
  color: #EAE4D7;
}

/* Blog.tsx */
.Blog-header {
  min-height: 20vh;
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  margin: 0;
  text-align: center;
}

.Blog-paragraph {
  text-align: left;
  width: 80vw;
  margin-top: 20px;
}

.Blog-line {
  margin-top: 40px;
  width: 60vw;
  border: 1px solid black;
}

/* TwoImages.tsx */
.Two-images {
  display:flex;
  justify-content: center;
  object-fit: cover;
}

.Two-image {
  position: relative;
  display:flex;
  justify-content: center;
  object-fit: cover;
}

.Two-image img {
  height: 65vh;
  width: 40vw;
  margin-left: 15px;
  margin-right: 15px;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.8s ease-in-out;
  border: 2px solid;
}

.Two-image:hover img {
  transform: scale(1.05);
  opacity: 0.4;
}

.Two-image:hover .Two-image-text {
  transform: scale(1.05);
  opacity: 1;
}

.Two-image-text {
  position: absolute;
  top: 50%;
  transform: translate(-10%, -50%);
  max-width: 30vw;
  margin-left: 15px;
  margin-right: 15px;
  object-fit: cover;
  border-radius: 10px;
  transition: 1s ease-in-out;
  opacity: 0;
}
